#anchor ul
{
margin-left: 0;
padding-left: 0;

white-space: nowrap;
}

#anchor li
{
display: inline;
list-style-type: none;
}

#anchor a { padding: 3px 10px; }

#anchor a:link, #anchor a:visited
{
color: #FCF0D6;
background-color: #747;
text-decoration: none;
}

#anchor a:hover
{
color: #747;
background-color: #FCF0D6;
text-decoration: none;
}

#anchor
{
	clear:both;
}