#left { width: 200px; }

#left ul
{
	margin:0px;
	margin-left: 15px; 
	padding-left: 0;
	list-style-type: none;
	font-family: Verdana;
}
#left ul li
{
	font-size:12pt;
}
#left ul li ul li 
{
	font-size:10pt;
}
#left ul li ul li ul li
{
	font-size:8pt;
}

#left a
{
	display: block;
	padding: 5px;
	width: 160px;
	background-color: #FCF0D6;
	text-decoration: none;
	font-weight: normal;
}

#left a:link, #left a:visited
{
	color: #747;
}

#left a:link#current, #left a:visited#current, #left a:hover
{
	background-color: #747;
	color: #FCF0D6;
}